@import "/home/stammererone/.cache/wal/colors-waybar.css";

* {
  border: none;
  font-family: "FiraCode Nerd Font", "Roboto", "sans-serif";
  font-size: 15px;
  min-height: 0;
}


window#waybar {
  background-color: transparent;
  color: @foreground;
  border-radius: 0;
  transition: background-color 0.5s ease;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* ---------------- WORKSPACES ---------------- */
#workspaces {
  padding: 6px;
  margin-right: 4px;
  border-radius: 10px;
  background-color: alpha(@background, 0.5);
}

#workspaces button {
  color: @foreground;
  border-radius: 6px;
  font-weight: bold;
  margin: 0 2px;
  padding: 4px 8px;
  border-bottom: 2px solid @color5;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

#workspaces button:hover {
  background: @color3;
  color: @background;
  border-bottom: 2px solid @color5;
  border-radius: 8px;
}

#workspaces button.active {
    background: @color2;
    color: @background;
    border-bottom: 2px solid @color5;

}
#workspaces button.focused {
  background: @color2;
  color: @background;
  border-bottom: 2px solid @color5;
}

#workspaces button.focused:hover {
  background: @color4;
  color: @foreground;
  border-radius: 8px;
}

#workspaces button.urgent {
  background-color: @color1;
}

/* ---------------- MODULES ---------------- */
#mode {
  background-color: @color4;
  border-bottom: 2px solid @color5;
}

#clock,
#battery.charging { background-color: @ok; color: @bg; }
#battery.warning  { background-color: @warn; color: @bg; }
#battery.critical { background-color: @err; color: @bg; }

#custom-window,
#cpu,
#memory,
#disk,
#temperature,
#custom-brightness,
#network,
#custom-bluetooth,
#pulseaudio,
#custom-media,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-system,
#clock,
#power-profiles-daemon,
#custom-wifi,
#battery {
  padding: 7px 20px;
  margin: 5px 2px;
  border-radius: 100px;
  color: @foreground;
  background-color: alpha(@background, 0.5);
  transition: all 250ms;
  box-shadow: alpha(@color2, .2) 0 -25px 18px -14px inset,alpha(@color2, .15) 0 1px 2px,alpha(@color2, .15) 0 2px 4px,alpha(@color2, .15) 0 4px 8px,alpha(@color2, .15) 0 8px 16px,alpha(@color2, .15) 0 16px 32px;
}

#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#custom-brightness:hover,
#network:hover,
#custom-bluetooth:hover,
#pulseaudio:hover,
#custom-media:hover,
#custom-power:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#mpd:hover,
#custom-system:hover,
#battery:hover,
#clock:hover,
#power-profiles-daemon:hover,
#custom-wifi:hover {
  color: @color4;
  background-color:@color2;
  box-shadow: alpha(@color2, .35) 0 -25px 18px -14px inset,alpha(@color2, .25) 0 1px 2px,alpha(@color2, .25) 0 2px 4px,alpha(@color2, .25) 0 4px 8px,alpha(@color2, .25) 0 8px 16px,alpha(@color2, .25) 0 16px 32px;
}

/* ---------------- MEDIA CONTROLS ---------------- */
#custom-media,
#custom-media_prev,
#custom-media_toggle,
#custom-media_next {
  padding: 6px 10px;
  margin: 5px 2px;
  border-radius: 10px;
  color: @foreground;
  background-color: alpha(@background, 0.5);
  transition: all 0.3s ease;
  box-shadow:2px 4px 10px rgba(0,0,0,0.4);
}

#custom-media_prev:hover,
#custom-media_toggle:hover,
#custom-media_next:hover {
  color: @color4;
}

/* ---------------- OTHER STATES ---------------- */
#network.disconnected { color: @color1; }
#pulseaudio.muted { color: @color1; }
#temperature.critical { background-color: @color1; }

#tray > .passive { -gtk-icon-effect: dim; color: @foreground; }
#tray > .needs-attention { -gtk-icon-effect: highlight; color: @foreground; }

#language { color: @foreground; min-width: 16px; }

#keyboard-state {
  background: @color2;
  color: @background;
  min-width: 16px;
}

#keyboard-state > label { padding: 0 5px; }
#keyboard-state > label.locked { background: rgba(0, 0, 0, 0.2); }

